
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
      <ul class="navbar-nav">
       
        <li class="nav-item">
          <a class="nav-link" href="#"(click)="showIncompletedM()">InCompleted</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"(click)="showCompletedM()">Completed</a>
        </li>
       
      </ul>
  
  </nav>
<div class="container" *ngIf="showIncompleted">
  <div class="col-md-12">
    
    <app-new-todo></app-new-todo>
  </div>
  <div class="col-md-12">
    <ul class="list-group" >
    <app-todo-actions  *ngFor="let todo of toDos" [todo]="todo" [id]="todo.id" ></app-todo-actions>
  </ul>
  </div>

</div>

<div class="container" >
  
  <div class="col-md-12" *ngIf="showCompleted">
    
    <app-completed-todo  *ngFor="let todo of toDos" [todo]="todo" [id]="todo.id" ></app-completed-todo>
  </div>
</div>